/*Style liquid Glass*/
/*Barre de navigation*/
@keyframes rebond {
    1%{
        translate: 10px;
    }
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    margin-bottom: 1em;
}

nav ul{
    background-color: #dedede37;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
}

header ul li{
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    padding: 5px 45px;
    margin: 0;
}

nav li img{
    margin-right: 10px;
    height: 20px;
    width: auto;
    order: -1;
}




/*Section principale*/
h1{
    margin-left: 15px;
    margin-top: 100px;
    width: auto;
    background-color: rgb(23, 239, 127);
    border-radius: 20px;
}

#introduction div{
    
}

#introduction img{
    width: 50px;
    height: auto;
}



