/*Style liquid Glass*/
/*Barre de navigation*/
@keyframes rebond {
    1%{
        translate: 10px;
    }
}

body{
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    margin-bottom: 1em;
}

header nav{
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 50%;
    right: 50%;
    width: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    z-index: 100;
}

nav ul{
    background-color: #d9d9d961;
    backdrop-filter: blur(1px);
    padding: 5px 15px;
    border-radius: 30px;
    display: inline-flex;
}

header ul li{
    background-color: rgba(0, 0, 0, 0.133);
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    padding: 5px 45px;
    margin: 0;
}

nav li img{
    margin: 0;
    height: 20px;
    width: auto;
    order: -1;
}




/*Section principale*/
h1{
    margin-left: 15px;
    margin-top: 100px;
    width: auto;
    background-color: rgb(23, 239, 127);
    border-radius: 20px;
}



